body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.timer {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: relative; /* Add position relative for progress bar positioning */
}

.timer-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.time-left {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.timer-btn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.timer-btn:hover {
    background-color: #006080;
}

.start-btn {
    background-color: #00C853;
}

.reset-btn {
    background-color: #F44336;
}

.settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 60px;
    text-align: center;
}
/* Add progress bar styling */
.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    }
    
    .progress-bar-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #008CBA;
    border-radius: 5px;
    }
    
    /* Add animation for progress bar fill */
    .progress-bar-fill.active {
    animation: progress 1s linear;
    }
    
    @keyframes progress {
    0% {
    width: 0%;
    }
    100% {
    width: 100%;
    }
    }
    .title {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 16px;
        color: #008CBA;
        font-family: Arial, sans-serif;
    
        }